
/*My image gallery styles*/
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 3px 0 0;
  h3 {
    width: 100%;
  }
}

.gallery-thumbnail-container {
  background: #fff;
  width: calc(20% - 3px);
  float: left;
  margin: 0 0 3px 3px;
}

.gallery-thumbnail {
  display: block;
  cursor: pointer;
}

@media (max-width: 600px) {
  .gallery-thumbnail {
    width: 30%;
  }
}

.gallery-thumbnail.failed .gallery-thumbnail-inner {
  background-color: #000;
//
}

.gallery-thumbnail-inner {

  background-size: cover;
  background-position: center center;
  background-color: #eee;
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.clr {
  clear: both;
}

.hidden {
  display: none;
}

.load-more-images {
  width: 100%;
  height: 60px;
  margin-top: 25px;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid @ab-light-red;
  border-right: 5px solid @ab-light-red;
  border-bottom: 5px solid @ab-light-red;
  border-left: 5px solid @ab-peach;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@media (max-width: 666px) {
  .spinner,
  .spinner:after {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*Not part of gallery*/
/*.site-footer {
  padding-bottom: 600px;
}*/

div.fancybox-container button:hover {
  border-width: 0;
  .border-radius(@radiusSize: 0);
  cursor: pointer;
}

div.filters {
  background: #222;
  padding: 15px;
  margin-bottom: 30px;
}

div.filters,
div.filters-header {
  display: none;
}

.page-browse-search div.filters,
.page-browse-search div.filters-header {
  display: block;
}

div.filters aside {
  h2 {
    font-size: 1em;
  }
  ul li {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    a {
      text-decoration: none;
      color: #bbb;
    }
    a.facetapi-active {
      color: @ab-peach;
      display: block;
      padding-left: 20px;
    }
  }
}

div.filters aside.filter-active {
  border: 1px solid @ab-peach;
}

div.filters .flex-box aside {
  margin: 10px;
  padding: 10px 40px 10px 20px;
  background: #111;
  .border-radius(@radiusSize: 3px);
  max-height: 350px;
  overflow-y: auto;
}

div.filters .views-exposed-widget {
  padding-top: 0;
}

div.filters .views-exposed-widget input#edit-submit-search {
  margin-top: 0;
}

div.filters .views-widget input#edit-search-api-views-fulltext {
  height: 40px;
  margin-top: 0;
}

div.filters div.filters-active-text {
  color: @ab-peach;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 1px solid @ab-maroon;
  padding-bottom: 10px;
  svg {
    fill: @ab-peach;
    float: left;
    width: 20px;
    margin-right: 7px;
  }
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.filters-header {
  text-align: center;
  font-size: 2em/@body-content-text-font-size;
  max-width: 500px;
  margin: 0 auto;
  line-height: 150%;
  margin-bottom: 20px;
}

.filters-header span.filter-name {
  color: @ab-peach;
}

div.body-content ul.pager {
  margin-top: 15px;
  li {
    margin-left: 0;
    padding-left: 0;
    margin-right: 20px;
  } a {
    text-decoration: none;
  }
}

